.content,
.sidebar {
  padding: 20px 30px;
}

.content {
  float: left;
  width: 70%;
  box-sizing: border-box;
}

.sidebar {
  overflow: auto;
}

img {
  background-color: purple;
}

main {
  min-width: 600px;
  max-width: 1400px;
}
